<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.out.workout">

    <application
        android:name=".Application.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication">
        <activity
            android:name=".ui.activity.WorkOutExerciseActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.EligibilityBloodActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.BMIUnderstandResultActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.ExerciseDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.ChartActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.BloodPressureCalculatorActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.BreathCalculatorActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.OvulationCalculatorActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.PregnancyCalculatorActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.BloodAlcoholCalculatorActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.BodyFatCalculatorActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.WaterIntakeCalculatorActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.CalorieCalculatorActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.BloodDonationCalculatorActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.BloodVolumeCalculatorActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.HeartRateCalculatorActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.BmiCalculatorActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.WeightCalculatorActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.WorkoutListActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.SplashActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>